<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form th:action="@{/movDinero/actualizar/{id} (id = ${movDinero.id})}" method="post">

        <label for="montoMovimiento">Monto Movimiento</label>
        <input type="text" id="montoMovimiento" th:field="${movDinero.montoMovimiento}">

        <label for="conceptoMovimiento">Concepto Movimiento</label>
        <input type="text" id="conceptoMovimiento" th:field="${movDinero.conceptoMovimiento}">

        <label for="empresa">Empresa ID</label>
        <input type="text" id="empresa" th:field="${movDinero.empresa.id}">

        <label for="empleado">Empleado ID</label>
        <input type="text" id="empleado" th:field="${movDinero.empleado.id}">

        <input type="submit" value="Actualizar Movimiento de Dinero">
    </form>

</body>
</html>