<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <table>
        <tr>
            <th>Nombre</th>
            <th>Correo</th>
            <th>Rol</th>
            <th>Empresa</th>
            <th>Editar</th>
            <th>Borrar</th>

        </tr>
        <tr th:each="empleado: ${empleados}">
            <td th:text="${empleado.nombre}"></td>
            <td th:text="${empleado.correo}"></td>
            <td th:text="${empleado.rol}"></td>
            <td th:text="${empleado.empresa.nombre}"></td>
            <td><a th:href="@{/empleado/editar/{id} (id = ${empleado.id})}">Editar</a></td>
            <td><a th:href="@{/empleado/borrar/{id} (id = ${empleado.id})}">Borrar</a></td>
        </tr>
    </table>
    <a href="/agregar-empleado">Agregar un nuevo empleado</a>
</body>
</html>