<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Empresa</title>
</head>
<body>
<table>
    <tr>
        <th>Nombre</th>
        <th>Direccion</th>
        <th>Telefono</th>
        <th>Nit</th>
        <th>Editar</th>
        <th>Borrar</th>

    </tr>
    <tr th:each="empresa: ${empresas}">
        <td th:text="${empresa.nombre}"></td>
        <td th:text="${empresa.direccion}"></td>
        <td th:text="${empresa.telefono}"></td>
        <td th:text="${empresa.nit}"></td>
        <td><a th:href="@{/empresa/editar/{id} (id = ${empresa.id})}">Editar</a></td>
        <td><a th:href="@{/empresa/borrar/{id} (id = ${empresa.id})}">Borrar</a></td>
    </tr>
</table>
<a href="/agregar-empresa">Agregar una nueva empresa</a>
<a th:href="@{'/'}">Pagina principal</a>
</body>
</html>