<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/css/styles.css">
    <title>Index</title>
</head>
<body>
    <header class="header_container" id="header_id">
        <div class="titulo_logo">
            <h1 class="titulo_principal">ZuAn JC Clothing</h1>
            <div class="logo"></div>
        </div>
        <nav class="menu">
            <ul>
                <li><a th:href="@{empresa}">EMPRESA</a></li>
                <li><a th:href="@{empleado}">EMPLEADO</a></li>
                <li><a th:href="@{movDinero}">MOVIMIENTO DE DINERO</a></li>
            </ul>
        </nav>
    </header>
</body>
</html>